:root {
  --header-color: #64dfdf;
  --purple: #5e60ce;
  --blue: #64dfdf;
  --button-color: #8d6e92;
  --button-color-hover: #59455d;

  --darker-grey: #161616;
  --gradient: linear-gradient(
    90deg,
    rgba(94, 96, 206, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  --text-size: 18px;
  --h1-size: 40px;
  --h2-size: 24px;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../static/src/Avenir\ Next.ttc') format('ttc')
} 

body {
  background-color: #1d1e22;
  color: #ffffff;
  font-family: "Avenir Next";
  font-weight: 300;
  margin: 0px;
}

header {
  position: relative;
}

header p {
  font-size: 20px;
  text-shadow: 3px 3px 3px black;
}
p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: "Avenir Next";
  font-weight: 800;
  color: var(--header-color);
  font-size: var(--h1-size);
  margin: 20px auto;
  text-align: center;
}

h2 {
  font-family: "Avenir Next";
  font-weight: 700;
  color: var(--blue);
  font-size: var(--h2-size);
}

h3{
  margin: 10px 0px;
}

button,
input::file-selector-button {
  padding: 10px 25px;
  background: var(--gradient);
  font-family: "Avenir Next";
  font-weight: 300;
  font-size: var(--text-size);
  color: #24002a;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #000000;
  cursor: pointer;
}

input::file-selector-button {
  border: 1px solid var(--purple);
  background: none;
  color: var(--purple)
}

button:hover,
input::file-selector-button:hover {
  opacity: 0.8;
}

input {
  font-family: "Avenir Next";
  font-weight: 400;
}

section {
  margin: 60px auto;
  max-width: 1300px;
}

section.upload, .background-tile {
  overflow: hidden;
  position: relative;

  text-align: center;
  border-radius: 8px;
  background: var(--darker-grey);
  padding: 20px;
  max-width: 900px;
  box-shadow: 0px 4px 8px var(--darker-grey);
}

.background {
  position: absolute;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  z-index: -1;
  top: 150px;
  opacity: 0.7;
}

.audio-container {
  margin: 20px auto;
}

.analyze{
  display: none;
}

img#spectogram{
  height: 170px;
  width: 775px;
  margin: 20px auto;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.informations {
  width: 55%;
  margin-bottom: 40px;
}
.classification-container .classification{
  display: flex;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
}

.classification-container .classification{
  color: var(--purple);
  font-size: 18px;
  font-weight: 700;
}

.classification-container .classification.selected *{
  color: var(--blue);
  font-size: 25px;
  font-weight: 900;
  text-shadow: 3px 3px 3px black

}
.scatterplot img{
  width: 100%;
}

.similar-sounds{
  width: 40%;
}

.scatterplot{
  margin-bottom: 30px;
}


.similar-sounds audio{
  filter: invert(0.96);
}

.similarSoundProbability{
  color: var(--purple);
  font-weight: 700;
}
